table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #e0e0e0;
}

td {
    border-bottom: 1px solid #ddd;
}

#desc {
    word-break: break-all;
}

td:last-child {
    border-bottom: none;
}

article {
    display: flex;
}

.left-section {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 5px;
    }

    input,
    .left-section button {
        margin-bottom: 10px;
    }
}

.right-section {
    flex-basis: 80%;
}

#editando,
h2,
h4 {
    text-align: center;
}